:root {
  --highlight-color: #2196f3;
  --white-color: #ffffff;
  --gray-color: #757575;
  --balck-color: #212121;
  --backgrounde-color: #2f303a;
  --gray-bc: #f5f4fa;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --close-modal-color: rgba(0, 0, 0, 0.1);
  --black: #000000;
  --checkbox-border-color: #414141;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.unstyled-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}
/*Header styling */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
  justify-content: center;
}
.header__inner {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
/*Logo*/
.header__logo {
  color: var(--highlight-color);
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
  margin-top: 24px;
  margin-bottom: 25px;
}

.header__logo-text {
  color: var(--balck-color);
}

/*Menu Section */
.menu {
  display: flex;
  padding: 0px;
  gap: 50px;
  display: flex;
  padding: 0px;
  gap: 50px;
  margin-left: 93px;
  flex-grow: 1;
}

.menu__item {
  color: var(--balck-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu__item:hover {
  color: var(--highlight-color);
}
/*Contact menu */
.contact-menu {
  display: flex;
  gap: 40px;
  padding-left: 319px;
}

.contact-menu__item {
  color: var(--gray-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-menu__item:hover {
  color: var(--highlight-color);
}
.contact-menu__icon {
  width: 16px;
  height: 12px;
  fill: var(--gray-color);
}
.contact-menu__phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--gray-color);
}
.contact-menu__icon:hover {
  fill: var(--highlight-color);
}
.contact-menu__phone-icon:hover {
  fill: var(--highlight-color);
}
/*Formular Section*/
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms linear, tansform 3000ms linear;
}
.modal__inner {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  position: relative;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 42px;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 12px;
}
.input {
  width: 100%;
  margin-bottom: 10px;
}
.input__label-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
}
.input__field {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  outline: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.input__field:focus-within {
  border: 1px solid rgba(33, 150, 243, 1);
}
.input__field:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  cursor: pointer;
  fill: var(--highlight-color);
}
.input__field :focus-within .input__label-text:focus-within {
  outline: none;
  border-color: var(--highlight-color);
  fill: var(--highlight-color);
}
.imput__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 15px;
  width: 15px;
}
.imput__icon:hover {
  fill: var(--highlight-color);
  color: var(--highlight-color);
  cursor: pointer;
}
.imput__icon:focus-within {
  fill: var(--highlight-color);
  color: var(--highlight-color);
  cursor: pointer;
}
.imput__icon:focus-within {
  fill: var(--highlight-color);
}

.imput__textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.imput__textarea:focus {
  border: 1px solid rgba(33, 150, 243, 1);
}
.imput__textarea:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  cursor: pointer;
}
.input__checkbox {
  margin-top: 20px;
  text-align: center;
  margin-top: 20px;
}
input[type="checkbox"]:checked + .imput__checkbox-replace {
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
}
input[type="checkbox"] {
  display: none;
}

.imput__checkbox-replace {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid var(--checkbox-border-color);
  border-radius: 2px;
  transition: all 300ms linear;
  cursor: pointer;
}

.imput__checkbox-replace svg {
  width: 13px;
  height: 10px;
  opacity: 0;
  transition: opacity 300ms linear;
}

input[type="checkbox"]:checked + .imput__checkbox-replace svg {
  opacity: 1;
}
.terms {
  color: rgba(117, 117, 117, 1);
}
.terms__color {
  color: var(--highlight-color);
  text-decoration: underline;
}

.close-modal {
  border: 1px solid var(--close-modal-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  align-items: center;
  display: flex;
  margin: auto;
  margin-right: 8px;
  justify-content: center;
}
.close-modal:hover {
  color: var(--highlight-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}

/*Formular Btn*/
.btn {
  background-color: var(--highlight-color);
  width: 200px;
  height: 50px;
  border: none;
  color: var(--white-color);
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}
.btn:hover {
  cursor: pointer;
}
/*Main section */
/*Hero section */
.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--backgrounde-color);
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/imgbg.jpg);
}
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
}
.hero__button {
  color: var(--white-color);
  background-color: var(--highlight-color);
  font-weight: 700;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

/*Feature Section */
.feature {
  max-width: 1200px;
  margin: 94px auto 30px;
}
.feature__list {
  display: flex;
  justify-content: space-between;
}
.feature__technology {
  background-color: var(--gray-bc);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__icon {
  width: 70px;
  height: 70px;
}
.feature-container {
  max-width: 1200px;
  margin: 0 auto;
}
.feature-container__description {
  display: flex;
  justify-content: space-between;
}
.feature-container__title {
  font-weight: 700;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.feature-container__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-color);
  width: 270px;
  height: 75px;
}
/*What we do   Section */
.container {
  margin: 94px auto;
  max-width: 1200px;
}
.container__list {
  display: flex;
  justify-content: space-between;
}
.container__grid {
  position: relative;
}
.container__img {
  display: block;
}
.container__overlay {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
  color: var(--white-color);
  font-weight: 700;
  text-align: center;
}

/*Team  Section */
.grid {
  border-radius: 0px 0px 4px 4px;
  background: var(--gray-bc);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 708px;
}
.grid__container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
  text-align: center;
}
.grid__card {
  background-color: var(--white-color);
}
.grid__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
}
.grid__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-color);
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
}
.grid-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px;
}
.grid-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  fill: var(--gray-color);
  border-radius: 50%;
}
.grid-social__link:hover {
  fill: #fff;
  background: var(--highlight-color);
}
.grid-social__icon {
  width: 20px;
  height: 20px;
  color: var(--highlight-color);
}

/*Costumers Section */
.customers {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0px;
  margin: 0px auto 94px;
}
.customers__svg {
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  fill: var(--gray-color);
}
.customers__svg:hover {
  cursor: pointer;
  fill: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
}

/* Footer  Section*/
.footer {
  background-color: var(--backgrounde-color);
  height: 251px;
}
.footer__container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
}
.footer__contact {
  padding-top: 60px;
  display: inline-block;
}
.footer__logo {
  color: var(--highlight-color);
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
  margin-top: 24px;
  margin-bottom: 25px;
}

.footer__logo-text {
  color: var(--white-color);
}

.footer-paragraph {
  color: var(--white-color);
  font-style: normal;
  margin-top: 28px;
}
.footer__address {
  margin-top: 10px;
}

.footer__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  margin-top: 75px;
  margin-left: 94px;
}
.social-footer__text {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px;
  margin-top: 20px;
}
.social-footer__link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-footer__link:hover {
  background: var(--highlight-color);
}
.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
.social-footer__subscribe-text {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.social-footer__input {
  width: 358px;
  height: 50px;
  padding: 10px;
  outline: none;
  margin-top: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(47, 48, 58, 1);
}
.social-footer__btn {
  background-color: var(--highlight-color);
  width: 200px;
  height: 50px;
  border: none;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-right: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
}

.social-footer__icon-send {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 227px;
}
/*Portofolio HTML*/

.portfolio {
  max-width: 1200px;
  margin: 0px auto;
}
.portfolio__button {
  display: flex;
  padding: 0px;
  gap: 8px;
  margin: 100px auto 56px;
  justify-content: center;
}
.portfolio__btn-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--gray-bc);
  color: var(--balck-color);
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio__btn-primary:hover,
.portfolio__btn-primary:focus,
.portfolio__btn-primary:active {
  color: var(--white-color);
  background-color: var(--highlight-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-grid {
  max-width: 1200px;
  margin: 0px auto;
}
.portfolio-grid__container {
  display: flex;
  padding: 0px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.portfolio-grid__img-list {
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
}
.portfolio-grid__img-list:hover,
.portfolio-grid__img-list:focus,
.portfolio-grid__img-list:active {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-grid__img {
  display: block;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__container {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  text-align: left;
  padding: 45px 24px 0;
}
.portfolio-grid__img-list:hover .overlay__container {
  transform: translatey(0);
}
.project-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--gray-color);
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
}
