.customers {
  /* display: flex;*/
  justify-content: space-between;
  max-width: 1200px;
  padding: 0px;
  margin: 0px auto 94px;
  column-count: 2;
  gap: 99px;
  &__svg {
    width: 170px;
    height: 92px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    fill: var(--gray-color);
  }
  &__svg:hover {
    cursor: pointer;
    fill: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 4px;
  }
}
.regular-costumers {
  display: flex;
  margin-bottom: 60px;
  margin-right: 38px;
}
@media (max-width: 480px) {
  .customers {
    width: 480px;
    column-count: 2;
    gap: 30px;
    flex-basis: 40%;
  }
  .regular-costumers {
    width: 480px;
  }
}
