.feature {
  &__list {
    padding: 60px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__technology {
    flex-basis: 100%;
    position: relative;

    flex-shrink: 0;
    flex-grow: 0;
    background-color: #f5f4fa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    max-width: 1200px;
    margin: 94px auto 30px;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__technology {
      background-color: var(--gray-bc);
      border-radius: 4px;
      width: 270px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__description {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      font-weight: 700;
      width: 270px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 14px;
      line-height: 1.71;
      color: var(--gray-color);
      width: 270px;
      height: 75px;
    }
  }
}
@media screen and (min-width: 768px) {
  .feature {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
