.characteristics {
  background-color: white;
}
.section {
  padding: 60px 15px;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
}
.characteristics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  &__card {
    flex-basis: 100%;
  }
  &__card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

.characteristics__description-title {
  font-weight: 700;
  color: black;
}
.characteristics__description-text {
  line-height: 1.71;
  margin-top: 10px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .characteristics-list__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
  .section {
    padding: 94px 215px;
  }
  .characteristics-list__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
