.page-footer {
  background-color: #2f303a;
}
.footer-padding {
  padding: 60px 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  gap: 60px;
}
.page-footer__address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.footer--logo {
  color: white;
  margin: 0 auto;
}
.logo__decorate-text {
  color: #2196f3;
}
.footer-address {
  color: #ffffff99;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.footer-address__item {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__social-icons {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  line-height: 16.41px;
  margin-bottom: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.footer--socia-media {
  padding: 0;
}
.social-media__item {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.social-media__item:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.social-icons {
  fill: #afb1b8;
}
.page-footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.page-footer__form-title {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-form__input {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--hero-bg);
  color: white;
  padding: 15px;
  width: 450px;
  height: 50px;
}
.footer-submit-form {
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  min-width: 170px;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  margin: auto;
}
.footer-send-icon {
  height: 18px;
  width: 18px;
  fill: var(--white-color);
  margin-left: 19px;
}
@media screen and (min-width: 768px) {
  .footer-padding {
    padding: 60px 88px;
  }
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .page-footer__address {
    margin-right: auto;
  }
  .page-footer__social-icons {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-padding {
    padding: 60px 215px;
  }
  .container {
    flex-wrap: nowrap;
    gap: 93px;
    align-items: center;
  }
  .footer-address {
    gap: 12px;
    align-items: flex-start;
  }
  .footer--logo {
    margin-bottom: 16px;
  }
  .page-footer__form {
    align-items: flex-start;
  }
}
