.header {
  justify-content: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
  &__inner {
    display: flex;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
  &__logo {
    color: var(--highlight-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: "Raleway", sans-serif;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 94px;
  }
  &__logo-text {
    color: var(--balck-color);
  }
}
.menu {
  display: flex;
  padding: 0px;
  gap: 50px;
  display: flex;
  padding: 0px;
  gap: 50px;
  margin-left: 93px;
  flex-grow: 1;

  &__item {
    color: var(--balck-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  &__item:hover {
    color: var(--highlight-color);
  }
}

.contact-menu {
  display: flex;
  gap: 40px;
  padding-left: 319px;
  &__item {
    color: var(--gray-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item:hover {
    color: var(--highlight-color);
  }
  &__icon {
    width: 16px;
    height: 12px;
    fill: var(--gray-color);
  }
  &__icon:hover {
    fill: var(--highlight-color);
  }
  &__phone-icon {
    width: 10px;
    height: 16px;
    fill: var(--gray-color);
  }
  &__phone-icon:hover {
    fill: var(--highlight-color);
  }
}
