.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--backgrounde-color);
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/imgbg.jpg);

  &__title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
  }
  &__button {
    color: var(--white-color);
    background-color: var(--highlight-color);
    font-weight: 700;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
}
