:root {
  --highlight-color: #2196f3;
  --white-color: #ffffff;
  --gray-color: #757575;
  --balck-color: #212121;
  --backgrounde-color: #2f303a;
  --gray-bc: #f5f4fa;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --close-modal-color: rgba(0, 0, 0, 0.1);
  --black: #000000;
  --checkbox-border-color: #414141;
}
